* {
    
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    
}
body{
    background-color: rgb(145, 238, 250);
}

header {
    width: 100%;
}

.navbar {
    background-color: rgb(145, 238, 250);
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.navbar ul {
    display: block;
}

.navbar li {
    list-style: none;
    margin: 10px;
}

.navbar li a {
    text-decoration: none;
    padding: 30px;
    color: black;
    font-weight: 800;

}

.navbar .navigation {
    display: flex;
    flex-direction: row;

}
label{
    width: 250px;
}

.search {
    float: right;
    padding-right: 20px;
}
.main_form{
    width: 500px;
    text-align: left;
}

.form {
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 50px;
}

form {
    margin-top: 30px;
}

.index {
    margin-top: 20px;
    display: block;
    align-items: left;
    flex-direction: column;
}

.footer {
    width: 100%;
    height: 50px;
    background-color: rgb(145, 238, 250);
    margin-top: 50px;
    padding: 0%;
    display: flex;
}

.box1 {
    width: 33.33%;
    height: 250px;
    background-color: rgb(145, 238, 250);
    margin: 0;
    padding: 0;
    text-align: center;

}

.box1 li {
    list-style: none;
    padding: 10px;
}

.box1 li a {
    text-decoration: none;
}

.box2 {
    width: 33.33%;
    height: 50px;
    background-color: rgb(145, 238, 250);
    margin: 0;
    padding: 0p;
    text-align: center;

}

.box3 {
    width: 33.33%;
    height: 50px;
    background-color:  rgb(145, 238, 250);
    margin: 0;
    padding: 0;
    text-align:center ;
}
